* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

#app {
    position: relative;
}

.base-down {
    margin-bottom: 20px;
}

.base-grid {
    padding: 0 10px 10px;
}

.radar-box {
    border: 3px solid #ccc;
    padding: 10px;
    transition: all 0.2s;
    height: 289px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.radar-box img {
    width: 100%;
    cursor: all-scroll;
}

.radar-box.image {
    padding: 0;
    border-color: #111;
}

.radar-box.loading {
    animation: background-blink 1.3s infinite;
}
@keyframes background-blink {
    0 {
        background-color: inherit;
    }
    50% {
        background-color: #aaa;
    }
    100% {
        background-color: inherit;
    }
}
.radar-box.image form {
    display: none;
}
label {
    display: block;
}
.select {
    transition: all 0.2s;
}
.select:focus {
    transform: scale(1.1);
}
.hide {
    display: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #4cae4c;
    border-radius: 4px;
    -webkit-appearance: button;
    color: #fff;
    background-color: #5cb85c;
}

.btn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn:hover, .btn:active {
    background-color: #449d44;
    border-color: #398439;
}

.btn:focus {
    background-color: #449d44;
    border-color: #255625;
}

.btn-red {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-red:hover, .btn-red:active {
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-red:focus {
    background-color: #c9302c;
    border-color: #761c19;
}

.sizer-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: grey;
    cursor: nwse-resize;
    background-color: red;
    width: 30px;
    height: 30px;
    display: none;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.radar-box.image .sizer-handle {
    display: block;
}

.statusbar {
    position: absolute;
    top: 100%;
    border-style: solid;
    border-width: 0 3px 3px;
    left: -3px;
    right: -3px;
    display: none;
    background-color: #fff;
    padding-top: 10px;
}

.radar-box.image .statusbar {
    display: flex;
    flex-wrap: wrap;
}

.statusbar-place {
    display: inline-block;
    margin-right: 15px;
}

.statusbar-time {
    display: inline-block;
    margin: 0 15px 0 0;
}

.radar-add-btn {
    position: fixed;
    z-index: 100;
    right: 20px;
    border-radius: 50%;
    line-height: 0;
    height: 50px;
    font-size: 31px;
    width: 50px;
    text-align: center;
    font-weight: bold;
    bottom: 20px;
}

.radar-add-btn > span {
    position: relative;
    top: -2px;
}
